<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juntai.wisdom.video">

    <application>
        <activity android:name=".player.DronePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 短视频录制 -->
        <activity android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity"
            android:theme="@style/MediaStyleTheme"/>
        <activity android:name=".record.VideoPreviewActivity" /> <!-- 萤石 -->
        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".img.ImageZoomActivity" />
        <activity android:name=".record.SendSmallVideoActivity2" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>